djangorestframework
django-cors-headers
djangorestframework-simplejwt
django_extensions
psycopg2
python-dotenv
django-nanoid-field
drf-spectacular
django-filter
google-auth
huggingface-hub
pdf2image
json5
channels
channels-redis
daphne
PyPDF2
celery
drf_sse
django_celery_beat
# sendgrid-django